!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Confirmation Email</h1>
<p>Hello <%= @user.name %>,</p>
<p>Please click the following link to confirm your email address:</p>
<p><a href="<%= confirm_email_confirmation_path(token: @user.generate_token_for(:email_confirmation)) %>">Confirm Email</a></p>
<p>If you didn't request this, please ignore this email.</p>
</body>
</html>